[submodule "zosc"]
	path = zosc
	url = https://github.com/fieldOfView/pyZOSC.git
[submodule "zutilities"]
	path = zutilities
	url = https://github.com/fieldOfView/pyZUtilities.git
[submodule "zmidi"]
	path = zmidi
	url = https://github.com/fieldofview/pyZMIDI.git
[submodule "zshadertoy"]
	path = zshadertoy
	url = https://github.com/fieldOfView/pyZShaderToy.git
